#wrapper {
    width:"100%";
    margin: 0 auto;
}
.container {
    display: flex;
    justify-content: center;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
 }